img {
    width: 500px;
}

form {
    border: solid 1px grey;
    padding: 10px;
}

.none {
    background-color: blue;
    color: white;
}

.freetime {
    background-color: blueviolet;
    color: white;
}

.work {
    background-color: brown;
    color: white;
}

.all {
    background-color: antiquewhite;
}

div {
    border: 1px solid black;
}