body {
    background-color: brown;
    color: saddlebrown;
    font-size: 18px;
    font-family: cursive;
}

article {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

p {
    display: inline;
}

h1 {
    font-family: 'Mountains of Christmas', cursive;
    font-size: 42px;
    color: white;
    margin: 0;
    text-align: center;
}

form {
    padding: 20px;
    background-color: beige;
    border-radius: 10px;
}

#filterAndList {
    background-color: beige;
    border-radius: 10px;
}

#radForm label {
    margin-right: 15px;
}

#addTodoInfoBox {
    padding: 20px;
}

#deleteBtnStyle {
    color: brown;
    float: right;
    margin-right: 100px;
}

input {
    padding: 2px;
}

button {
    padding: 10px;
    background-color: green;
    color: white;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px; 
    border-radius: 5px;
}

button:hover,i:hover {
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

button:active { background-color: limegreen; }

ul {
    list-style-type: circle;
    padding-bottom: 20px;
    font-family: cursive;
}

.passedDate {
    color: red;
    text-decoration: underline;
}

#deleteBtnStyle:hover {
    color: red;
}